html, body {
    min-height: 100%;
    max-height: 100%;
}

section{
    margin-top: 20px;
}

.card{
    padding: 5px 5px 5px 5px;
}

.shopnow{
    float: right;
}
.card .card-content{
    margin: 0 0;
    padding: 1 0;
}

.card .card-content .card-title {
    font-family: -webkit-pictograph;
    font-size: 12pt;
}

li{
    margin-bottom: 10px;
}

  h5 p {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.responsive-img{
    width: 70px;
    height: auto;
    
}

.patreon-footer-ad {
    display: inline-block;
    float: none;
    margin-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

