<DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       
    </head>

    <body>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li><a href="#!">three</a></li>
          </ul>
        <div class="navbar-fixed">
            <nav class="nav">
            <div class="nav-wrapper grey darken-4">
                <div class="container">
                    <a href="/" class="brand-logo">JV Shop</a>
                    <a href="#" class="sidenav-trigger" data-target="mobile">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/calcas">Calças</a></li>
                        <li><a href="/saias">Saias</a></li>
                        <li><a href="/vestidos">Vestidos</a></li>
                        <li><a href="/croppeds">Cropped</a></li>
                        <li><a class="dropdown-trigger" href="/acessorios" data-target="dropdown1">Acessórios<i class="material-icons right">arrow_drop_down</i></a></li>
    
                    </ul>
                </div>
            </div>
            
        </nav>
    </div>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li><a href="#!">three</a></li>
        </ul>
        <ul class="sidenav" id="mobile">
            <li><a href="/">Home<img style="float: right; margin-top: 10px; margin-bottom: auto;" src="static/imagens/house.png"></a></li>
            <li><a href="/vestidos">Vestidos<img style="float: right; margin-top: 10px; margin-bottom: auto;" src="static/imagens/dress.png"></a></li>
            <li><a href="/saias">Saias<img style="float: right; margin-top: 10px; margin-bottom: auto;" src="static/imagens/skirt.png"></a></li>
            <li><a href="/croppeds">Croppeds<img style="float: right; margin-top: 10px; margin-bottom: auto;" src="static/imagens/brassiere.png"></a></li>
            <li><a href="/calcas">Calças<img style="float: right; margin-top: 10px; margin-bottom: auto;" src="static/imagens/jeans.png"></a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2" href="/acessorios">Acessórios<img style="float: right; margin-top: 10px; margin-bottom: auto;" src="static/imagens/colar-de-perolas.png"></a></li>
        </ul>
        
    
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
            
            $(".dropdown-trigger").dropdown();
        </script>
        

<section>
   
        <div class="container">

            <div class="row">
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pulseirinhas de praia<i class="material-icons right">more_vert</i></span>
                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/imagens/varias.jpeg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>


</section>    

    
<a href="https://wa.me/5511996471552?text=Olá%20tenho%20interesse%20na%20compra%20de%20um%2produto" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>



        <footer class="page-footer grey darken-3">
            <div class="container">
                <div class="row" id="content-footer">
                    <div class="col l6 s12">
                        <h5 class="white-text">Sobre Jv Shop</h5>
                        <p class="grey-text text-lighten-4">
                            Trabalhamos com roupas de brechó de ponta e acessórios personalizados.
                            Se você gostou de algum produto entre em contato comigo por WhatsApp, vou ter muito prazer em ajudar! 
                        </p>
                        <div class="patreon-footer-ad">
                            <img class="responsive-img" src="static/imagens/picpay-logo-1_Easy-Resize.com.jpg">
                        </div>
                        <div class="patreon-footer-ad">
                            <img class="responsive-img" src="static/imagens/boleto-logo_Easy-Resize.com.jpg">
                        </div>
                        <div class="patreon-footer-ad">
                            <img class="responsive-img" src="static/imagens/file_Easy-Resize.com.jpg">
                        </div>
                    </div>


                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Siga nossas páginas</h5>
                        <ul>
                            <li><a href="https://www.instagram.com/shopjessicavilela/?hl=pt-br" class="grey-text text-lighten-4 social instagram"><img src="static/imagens/instagram.png">Instagram</a></li>
                            <li><a href="https://www.facebook.com/jessica.vilelaniza" class="grey-text text-lighten-4"><img src="static/imagens/facebook.png">Facebook</a></li>
                            <li><a href="https://www.youtube.com/channel/UCCanJ76cX0CWTcjfn8oey8A" class="grey-text text-lighten-4"><img src="static/imagens/youtube.png">You Tube</a></li>
                        </ul>
                    </div>
                </div>
                    
                </div>

            <div class="footer-copyright center-align">
            <div class="container">
                2020 Todos direitos reservados.
                <a href="#" class="grey-text text-lighten-4">DevForAll</a>
            <div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </footer>




    </body>

</html>